@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

p {
  line-height: 1.5;
}


a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #F6A623;
  font-weight: bold;
}

#header {
  background-color: #F6A623;
  height: 150px;
  line-height: 150px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

#header a {
  color: #2f2f2f;
  text-decoration: none;
}

#header a:hover {
  color: #555;
  font-weight: bold;
}
#header-title {
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 10px;
}

.post-author img, .guestPost-author img, .about-author img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  vertical-align: middle;
}

.post-author img:hover, .guestPost-author img:hover, .about-author img:hover {
  width: 90%;
  height: 90%;
}

.post-author img span:hover, .guestPost-author img span:hover, .about-author img span:hover {
  width: 90%;
  height: 90%;
}
.post-author span, .about-author span {
  margin-left: 16px;
}

.post-date, .about-date {
  color: #D2D2D2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.005;
}

.post, .about {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}

.post-content, .about-content {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.post-content a {
  color: #555
}

.post-content a:hover {
  text-decoration: underline;
}

.post-author:hover, .post-date:hover, .post-title:hover, .post-content:hover, .about-author:hover {
  background-color: #F6A623;
}

.guestPost-author:hover, .guestPost-date:hover, .guestPost-title:hover, .guestPost-content:hover {
  background-color: #C0C0C0;
}
#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4 {
  color: white;
  font-style: italic;
}

#footer p {
  color: white;
}
